@-webkit-keyframes rai-spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes rai-spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.rai-spinner {
  height: 1.5em;
  position: relative;
  width: 1.5em;
}
.rai-spinner .rai-spinner-inner,
.rai-spinner .rai-spinner-outer {
  border-radius: 100%;
  height: 100%;
  left: 0;
  margin-left: -0.0625em;
  margin-top: -0.0625em;
  position: absolute;
  top: 0;
  width: 100%;
}
.rai-spinner .rai-spinner-outer {
  border: 0.125em solid;
  opacity: 0.2;
}
.rai-spinner .rai-spinner-inner {
  -webkit-animation-duration: inherit;
  animation-duration: inherit;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rai-spinner;
  animation-name: rai-spinner;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  border-bottom: 0.125em solid transparent !important;
  border-left: 0.125em solid transparent !important;
  border-radius: 100%;
  border-right: 0.125em solid transparent !important;
  border-top: 0.125em solid;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.Menu_scrolled__Ni7_6 {
  background-color: rgba(17, 27, 36, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.Menu_scrolledUp__Cg5tR {
  transform: translateY(-6rem);
}
.Menu_img__x1dc1 {
  width: 13rem;
}
.Menu_container__2wtOZ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  width: 100vw;
  padding: 1.75rem 5rem;
  font-weight: 500;
  position: fixed;
  top: 0;
  z-index: 200;
  max-height: 6.25rem;
  transition: background-color, transform 0.3s ease-in-out;
}
.Menu_container__2wtOZ .Menu_nav__AeG8L {
  display: block;
  cursor: pointer;
}
.Menu_container__2wtOZ .Menu_nav__AeG8L .Menu_hyperlink__ydSEA {
  text-transform: uppercase;
  margin: 0 2rem;
}
.Menu_container__2wtOZ .Menu_nav__AeG8L .Menu_hyperlink__ydSEA:hover {
  color: #00eac7;
}
.Menu_container__2wtOZ .Menu_button__qvuMb {
  background-color: #00eac7;
  font-weight: 700;
  height: 2.5rem;
  width: 12rem;
  align-items: center;
  justify-content: center;
  color: #000;
  cursor: pointer;
}
.Menu_container__2wtOZ .Menu_button__qvuMb:hover {
  background-color: #00dbcf;
}
.Menu_mobileMenu__8s0_G {
  position: fixed;
  background-color: rgba(17, 27, 36, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 2rem 4rem;
  z-index: 400;
  color: #fff;
}
.Menu_top__4JCGO {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2rem;
}
.Menu_closeButton__lD2CJ {
  width: 3rem;
  cursor: pointer;
}
.Menu_burgerMenu__XkuTX {
  width: 2.5rem;
  cursor: pointer;
}
.Menu_linkContainer__tQySy {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 3rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.Menu_linkContainer__tQySy button {
  background-color: #00eac7;
  color: #000;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 1.5rem;
  margin-top: 3rem;
  max-width: 650px;
}
@media only screen and (max-width: 800px) {
  .Menu_container__2wtOZ {
    padding: 2rem 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .Menu_linkContainer__tQySy button {
    padding: 1rem 1.5rem;
  }
}
.Footer_footer___mXpK {
  background-color: #16232e;
  padding: 5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto;
  z-index: 10;
}
.Footer_footer___mXpK .Footer_container__w17O5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Footer_footer___mXpK .Footer_contentContainer__u_aVv {
  max-width: 80rem;
  width: max-content;
  align-self: center;
}
.Footer_footer___mXpK .Footer_newsletter__I_6a2 {
  text-align: left;
}
.Footer_footer___mXpK .Footer_newsletter__I_6a2 img {
  width: 15rem;
  height: auto;
  padding-bottom: 1rem;
}
.Footer_footer___mXpK .Footer_newsletter__I_6a2 h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.7rem;
  font-weight: 700;
}
.Footer_footer___mXpK .Footer_newsletter__I_6a2 p {
  font-size: 1.125rem;
  line-height: 1.7rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 500;
  width: 80%;
}
.Footer_footer___mXpK .Footer_newsletter__I_6a2 .Footer_subscribeForm__M68Dd {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  min-width: 270px;
  max-width: 450px;
}
.Footer_footer___mXpK
  .Footer_newsletter__I_6a2
  .Footer_subscribeForm__M68Dd
  input {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  background-color: transparent;
  color: #fff;
  width: 67%;
}
.Footer_footer___mXpK
  .Footer_newsletter__I_6a2
  .Footer_subscribeForm__M68Dd
  button {
  padding: 0.5rem 2rem;
  background-color: #00eac7;
  color: #000;
  border: none;
  cursor: pointer;
  width: 33%;
  font-weight: 700;
}
.Footer_footer___mXpK
  .Footer_newsletter__I_6a2
  .Footer_subscribeForm__M68Dd
  button:hover {
  background-color: #00dbcf;
}
.Footer_footer___mXpK .Footer_colorWhite__kcl6m {
  color: #fff;
}
.Footer_footer___mXpK .Footer_footerLinks__Y2poX {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem;
  font-size: 1.125rem;
}
.Footer_footer___mXpK .Footer_footerLinks__Y2poX div:first-of-type {
  color: #fff;
}
.Footer_footer___mXpK .Footer_footerLinks__Y2poX div:first-of-type ul {
  list-style: none;
  padding: 0;
}
.Footer_footer___mXpK
  .Footer_footerLinks__Y2poX
  div:first-of-type
  ul
  li:first-of-type {
  cursor: pointer;
}
.Footer_footer___mXpK
  .Footer_footerLinks__Y2poX
  div:first-of-type
  ul
  li:first-of-type:hover {
  color: #00f2e2;
}
.Footer_footer___mXpK
  .Footer_footerLinks__Y2poX
  div:first-of-type
  ul
  li:not(:first-of-type) {
  margin-top: 1rem;
  cursor: pointer;
}
.Footer_footer___mXpK
  .Footer_footerLinks__Y2poX
  div:first-of-type
  ul
  li:not(:first-of-type):hover {
  color: #00f2e2;
}
.Footer_footer___mXpK .Footer_footerLinks__Y2poX div:not(:first-of-type) ul {
  list-style: none;
  padding: 0;
}
.Footer_footer___mXpK .Footer_footerLinks__Y2poX div:not(:first-of-type) ul li {
  color: #a3a3a3;
  margin-top: 1rem;
  cursor: pointer;
}
.Footer_footer___mXpK
  .Footer_footerLinks__Y2poX
  div:not(:first-of-type)
  ul
  li:hover {
  color: #00f2e2;
}
.Footer_footer___mXpK .Footer_footerBottom__YMG7I {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
  padding-top: 1rem;
  font-size: 1rem;
  color: #a3a3a3;
  margin-top: 5rem;
  font-weight: 300;
  width: 100%;
  gap: 3rem;
}
.Footer_footer___mXpK .Footer_footerBottom__YMG7I div {
  display: flex;
  gap: 3rem;
}
.Footer_footer___mXpK .Footer_footerBottom__YMG7I p {
  margin: 0;
  cursor: pointer;
}
.Footer_footer___mXpK .Footer_footerBottom__YMG7I p:hover {
  color: #00f2e2;
}
.Footer_socialItem__TDyIh p {
  align-self: center;
}
.Footer_socialItem__TDyIh a {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
}
.Footer_socialItem__TDyIh img {
  padding-top: 0.1rem;
  width: 1.125rem;
  height: 1.5rem;
}
@media only screen and (max-width: 800px) {
  .Footer_contentContainer__u_aVv {
    width: 100% !important;
    align-self: flex-start !important;
  }
  .Footer_container__w17O5 {
    flex-direction: column !important;
  }
  .Footer_newsletter__I_6a2 {
    padding-bottom: 4rem;
  }
  .Footer_newsletter__I_6a2 img {
    width: 20rem !important;
    padding-bottom: 2rem !important;
  }
  .Footer_newsletter__I_6a2 h2 {
    font-size: 2rem !important;
    margin-bottom: 1.5rem !important;
  }
  .Footer_newsletter__I_6a2 p {
    font-size: 2rem !important;
    line-height: 3rem !important;
  }
  .Footer_newsletter__I_6a2 .Footer_subscribeForm__M68Dd {
    width: 80%;
    font-size: 1.25rem;
  }
  .Footer_newsletter__I_6a2 .Footer_subscribeForm__M68Dd button,
  .Footer_newsletter__I_6a2 .Footer_subscribeForm__M68Dd input {
    padding: 0.8rem 1.4rem !important;
  }
  .Footer_footerLinks__Y2poX {
    gap: 5rem !important;
    font-size: 1.6rem !important;
    justify-content: flex-start !important;
  }
  .Footer_footerLinks__Y2poX div:first-of-type {
    flex: 1;
  }
  .Footer_footerLinks__Y2poX div:first-of-type ul li:not(:first-of-type) {
    margin-top: 2rem !important;
  }
  .Footer_footerLinks__Y2poX div:not(:first-of-type) {
    flex: 1;
    min-width: fit-content;
  }
  .Footer_footerLinks__Y2poX div:not(:first-of-type) ul li {
    margin-top: 2rem !important;
  }
  .Footer_socialItem__TDyIh img {
    height: 2.2rem;
    width: 1.3rem;
    padding-top: 0.2rem;
  }
  .Footer_footerBottom__YMG7I {
    flex-wrap: wrap;
    font-size: 1.2rem !important;
    justify-content: center !important;
    gap: 1rem;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .Footer_subscribeForm__M68Dd {
    width: 100% !important;
    max-width: none !important;
  }
}
